


body{
    margin:0;
    padding:0;
    font-family: 'playfair Display', serif;
    font-size: 16px;
    font-weight: 400;
    color: #626262;

}
header{   padding: 30px 0;

}
.container{
	      overflow: hidden;
          margin: 0 auto;
          width:90%;
         

}
.logo{ margin-top: 10px;
       width:12%; 
       float: left;


}
.logo a{}
.logo a img{
       width:100%;

}
.menu{
      width: 70%;
      
      float:right;


}
.menu ul{
	  float: right;
      list-style: none;

}
.menu ul li{
      float: left;	
}
.menu ul li a{
	   margin: 0 60px;
	   display: inline-block; 
	   color: #626262;
	   text-decoration: none;
	   text-transform: uppercase;
}
.menu ul li a:hover{}
.menu ul li a:last-child a{
	    margin-right: 0;
}